/* body desktop class */
.desktop
{
    width: 600px;
    margin: 0 auto;
    background-color: #444;
    background: url('../img/pattern1.png') repeat;
}
.desktop.map
{
    width: 100%;    
}

/* колонки по ширине */
div[class*="col-"] {
  background: #fff;
  text-align: center;
  color: #000;
  border: 1px solid #ddd;
  padding: 5px;
}
.row {
  margin-bottom: 15px;
}      


div.pages
{
    background-color: #f7f7f8;
}


div[class*="col-"]
{
    color: inherit;
    border: none;
    padding: 0;
}

.right
{
    float: right;
}

.navbar .left a+a, .navbar .right a+a
{
    margin-left: 0;
}

.avatar-wrapper
{
    margin: 0 -5px;
}

.avatar {
    max-width: 100%;
    max-height: 100%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: contain;
    padding: 2px
}
.avatar.male {
    border: 2px solid #5881A6
}
.avatar.female {
    border: 2px solid #d35d7f
}
.male {color: #5881A6}
.female {color: #d35d7f}


.popover-map {
    width: 310px;
}


.text-right {text-align: right}
.hide {display: none}

.tip {
    display: inline-block;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    border-radius: 3px;
    margin: 5px 3px 4px 0;
    padding: 0.25rem 0.25rem 0.22rem;
    font-size: 0.8rem;
    color: #fff;
}

.content-block-helplist-switches
{
    background-color: white;
    margin: 0px 0;
}

.content-block-helplist-switches .list-block, .no-margin
{
    margin: 0!important;
}

.content-block-helplist-switches .list-block .item-inner:after,
.content-block-helplist-switches .list-block ul:before,
.content-block-helplist-switches .list-block ul:after
{
    background-color: white;
}

li.hluser div.item-text { color: inherit; }


/* дополнительные иконки */

i.icon.icon-form-city {
    width: 29px;
    height: 29px;
    background-image: url(../img/i-form-city-ios.svg);
}
i.icon.icon-form-cycle {
    width: 29px;
    height: 29px;
    background-image: url(../img/i-form-cycle-ios.svg);
}
i.icon.icon-form-cyclemore {
    width: 29px;
    height: 29px;
    background-image: url(../img/i-form-cyclemore-ios.svg);
}
i.icon.icon-form-active {
    width: 29px;
    height: 29px;
    background-image: url(../img/i-form-active-ios.svg);
}
i.icon.icon-form-repair {
    width: 29px;
    height: 29px;
    background-image: url(../img/i-form-repair-ios.svg);
}
i.icon.icon-form-garage {
    width: 29px;
    height: 29px;
    background-image: url(../img/i-form-garage-ios.svg);
}
i.icon.icon-form-bed {
    width: 29px;
    height: 29px;
    background-image: url(../img/i-form-bed-ios.svg);
}
i.icon.icon-form-food {
    width: 29px;
    height: 29px;
    background-image: url(../img/i-form-food-ios.svg);
}
i.icon.icon-form-beer {
    width: 29px;
    height: 29px;
    background-image: url(../img/i-form-beer-ios.svg);
}
i.icon.icon-form-strong {
    width: 29px;
    height: 29px;
    background-image: url(../img/i-form-strong-ios.svg);
}
i.icon.icon-form-party {
    width: 29px;
    height: 29px;
    background-image: url(../img/i-form-party-ios.svg);
}
i.icon.icon-form-excursion {
    width: 29px;
    height: 29px;
    background-image: url(../img/i-form-excursion-ios.svg);
}
i.icon.icon-form-helplist {
    width: 29px;
    height: 29px;
    background-image: url(../img/i-form-helplist-ios.svg);
}
i.icon.icon-form-news {
    width: 29px;
    height: 29px;
    background-image: url(../img/i-form-news-ios.svg);
}
i.icon.icon-form-help {
    width: 29px;
    height: 29px;
    background-image: url(../img/i-form-help-ios.svg);
}
i.icon.icon-form-exit {
    width: 29px;
    height: 29px;
    background-image: url(../img/i-form-exit-ios.svg);
}
i.icon.icon-tabbar-channels {
    width: 29px;
    height: 29px;
    background-image: url(../img/i-tabbar-channels-ios.svg);
}
.active i.icon.icon-tabbar-channels 
{
    background-image: url(../img/i-tabbar-channels-active-ios.svg);        
}
i.icon.icon-tabbar-channels-add {
    width: 29px;
    height: 29px;
    background-image: url(../img/i-tabbar-channels-add-ios.svg);
}
.active i.icon.icon-tabbar-channels-add
{
    background-image: url(../img/i-tabbar-channels-add-active-ios.svg);        
}
i.icon.icon-donate {
    width: 29px;
    height: 29px;
    background-image: url(../img/i-donate-ios.svg);
}
i.icon.icon-bug {
    width: 29px;
    height: 29px;
    background-image: url(../img/i-bug-ios.svg);
}

i.icon-tabbar-search {
    width: 29px;
    height: 29px;
    background-image: url(../img/i-tabbar-search-ios.svg);
}
.active i.icon-tabbar-search
{
    background-image: url(../img/i-tabbar-search-active-ios.svg);        
}
i.icon.icon-form-friends {
    width: 29px;
    height: 29px;
    background-image: url(../img/i-form-friends-ios.svg);
}
.icon-info {
    width: 5px;
    height: 5px;
    background-image: url(../img/i-info-ios.svg);
    padding: 10px;
}
.icon-settings {
    width: 5px;
    height: 5px;
    background-image: url(../img/i-settings-ios.svg);
    padding: 10px;
}




/* colors */
.red { background-color: red} 
.orange { background-color: #f08a24} 
.green { background-color: #43AC6A} 
.blue { background-color: #5881A6} 

.gray_text {color: #8e8e93; font-weight: 200}
.orange_text {color: #f08a24!important;}


.text-center { text-align: center }


.badge
{
    text-transform: uppercase;
    padding: 1px 6px;
}
.avatar-wrapper > .badge
{
    position: absolute;
    left: 50px;
}

.swipeout.transitioning .swipeout-actions-right a {text-align: center}

.statusbar-overlay {background: black}

.list-block .item-text { height: auto }

.list-block .hluser .item-text, .list-block .text-feed  
{ 
    -webkit-line-clamp: 6; 
    font-weight: 200;
}


.infinite-scroll-preloader {
  display: none;
  margin-top:-20px;
  margin-bottom: 10px;
  text-align: center;
}
.preloader-top {
    display: none;   
    text-align: center; 
    margin-bottom: -30px;
}

.infinite-scroll-preloader .preloader {
  width:34px;
  height:34px;
}  


#avatar_upload {display: none}

div.text-feed img/*, div.message-text img*/ {max-width: 100%; max-height: 20vh}


/* чаты */
.message {
    max-width: 80%;
    margin: 5px 10px 0;    
}
.message .message-text
{
    padding: 5px 17px 3px;
    /* было
        padding: 6px 16px 9px;
        */
}
.message-sent .message-text
{
    background-color: #DCF9DE;
    color: #234; 
    /* было
    background-color: #00d449;
    color: #fff;
    */
}
.message-received .message-text
{
    color: #234;     
}
.message-date
{
    font-style: oblique;
    color: gray;
    font-size: 0.7em;
    text-align: right;
}
.message-received.message-with-avatar .message-name
{
    margin-left: 35px;
}
.message-sent.message-with-avatar .message-name
{
    margin-right: 35px;
}
.messagebar~.page-content {
    padding-bottom: 60px;
}

.messagePic, #messagePicCanvas
{
    opacity: 0.4;
    margin: 15px;
    background: #ccc;
    border-radius: 15px;
    padding: 10px;
    float: right;
    max-width: 80vw;
    max-height: 60vh;
}

div.message-pic > div.message-text
{
    -webkit-mask-box-image: none!important;
}
.message.message-pic img
{
    border-radius: 0!important;
}

.swipeout img
{
    max-width: 30vw;
    max-height: 30vh;
}

/* непрочитанные */
.unread.message-received >.message-text
{
    border-right: solid 3px #f00;
}

input.range-slider
{
    margin-top: 30px;
}

div#map
{
    line-height: 1.2;
    height: 100%;
    width: 100%;
} 
div#map img 
{ 
    max-height: none; max-width: none; 
}
div#tripmap
{
    text-align: -webkit-center;
}

#add_hotel, #add_parking, #add_place, #add_service, #add_tireservice
{
    position: absolute;
    background-color: white;
    padding: 1em;
    z-index: 2;
    margin: -10px 0 0 -10px;
    overflow-y: scroll;
    height: 100%;    
    opacity: 0.9;
}

div#onairResults li, div#personalResults li, div#feedResults li, div#subscribeResults li
{
    background-color: white;
    list-style: none;
}

.submitgeocoder 
{
    position: absolute;
    height: 37px;
    top: 52px;
    right: 0.5em;
    opacity: 0.7;
    z-index: 1;
    width: 60%;
}


a.file-button {
   position:relative;
   overflow:hidden;
}
a.file-button input {
  font-size: 10000px;
  position: absolute;
  left:0;
  top:0;
  opacity:0;
}



i.icon.icon-camera
{
    width: 35px;
  margin-right: 4px;    
}
.fileinput-button input {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    /* transform: translate(-10px, 0) scale(1); */
    /* font-size: 9px; */
    /* direction: ltr; */
    /* cursor: pointer; */
    width: 30px;
    height: 35px;
    border: solid;
}


/* аватары в мессагах */
.message-avatar
{
    width: 40px;
    height: 40px;
    margin-top: -40px;
}
.message-received.message-with-avatar .message-text
{
    margin-left: 40px;
}
.message-received.message-with-avatar .message-name
{
    margin-left: 47px;
}



  .facebook-card .card-header {
    display: block;
    padding: 10px;
  }
  .facebook-card .facebook-avatar {
    float: left;
  }
  .facebook-card .facebook-name {
    margin-left: 44px;
    font-size: 14px;
    font-weight: 500;
  }
  .facebook-card .facebook-date {
    margin-left: 44px;
    font-size: 13px;
    color: #8e8e93;
  }
  .facebook-card .card-footer {
    background: #fafafa;
  }
  .facebook-card .card-footer a {
    color: #81848b;
    font-weight: 500;
  }
  .facebook-card .card-content img {
    display: block;
  }
  .facebook-card .card-content-inner {
    padding: 15px 10px;
  } 