AddType text/cache-manifest .appcache
AddType video/mp4 .mp4

#Header set Access-Control-Allow-Origin "*"


<IfModule mod_rewrite.c>
	RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteCond %{HTTP:X-Forwarded-Proto} !https
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>

<ifModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript
</ifModule>

<IfModule mod_expires.c>
    ExpiresActive On
#    ExpiresDefault "access plus 0 second"
#	ExpiresByType text/cache-manifest "access plus 0 seconds"
   
    
#    ExpiresByType application/javascript "access 1 day"
#    ExpiresByType text/javascript "access 1 day"
#   ExpiresByType text/css "access 10 second"
#    ExpiresByType image/gif "access 6 month"
#    ExpiresByType image/jpeg "access 1 week"
#    ExpiresByType image/png "access 6 month"
#    ExpiresByType image/icon "access 6 month"

    <FilesMatch "\.(svg|svgz|eot|otf|woff|mp4|rss|atom|jpg|jpeg|gif|png|ico|zip|tgz|gz|rar|wav|bmp)$">
        Header set Cache-Control  "max-age=86400, must-revalidate"
        ExpiresDefault "access plus 1 second"
        Header append Cache-Control "public"
    </FilesMatch>

    <FilesMatch "\.(js|css)$">
        Header set Cache-Control  "max-age=60, must-revalidate"
        ExpiresDefault "access plus 1 second"
        Header append Cache-Control "public"
    </FilesMatch>

#    <filesMatch "\.(html|htm|php)$">
#        Header set Cache-Control "max-age=0, private, must-revalidate"
#         Header set Cache-Control "no-store"       
#    </filesMatch>    

</IfModule>

# Catch 40x errors
ErrorDocument 404 /404.php
ErrorDocument 403 /404.php